- name: Clone project repository
  git:
    repo: "https://github.com/raphaelcumont-svg/projet-mlops.git"
    dest: /opt/projet-mlops
    version: main
  become: yes

- name: Stop and remove existing ml-api container if any
  command: docker rm -f ml-api
  ignore_errors: yes
  become: yes

- name: Build ml-api Docker image
  command: docker build -t ml-api .
  args:
    chdir: /opt/projet-mlops/api
  become: yes

- name: Run ml-api container
  command: docker run -d --restart unless-stopped --name ml-api -p 5000:5000 ml-api
  become: yes
